#.text._ZN6thrust8cuda_cub3cub28DeviceReduceSingleTileKernelINS1_18DeviceReducePolicyIfiNS_4plusIfEEE9Policy600EPfS8_iS5_fEEvT0_T1_T2_T3_T4_
# max size 1200
# falls between 9f0-a80
.text._Z21gpu_sin_tla_whileloopPfiif 900-d00
#.text._ZN6thrust8cuda_cub3cub18DeviceReduceKernelINS1_18DeviceReducePolicyIfiNS_4plusIfEEE9Policy600ENS_6detail15normal_iteratorINS_10device_ptrIfEEEEPfiS5_EEvT0_T1_T2_NS1_13GridEvenShareISG_EET3_ 0-1b00
#.text._ZN6thrust8cuda_cub3cub28DeviceReduceSingleTileKernelINS1_18DeviceReducePolicyIfiNS_4plusIfEEE9Policy600ENS_6detail15normal_iteratorINS_10device_ptrIfEEEEPfiS5_fEEvT0_T1_T2_T3_T4_ 0-a00
